#Compiled python files
botmap.pyc
main.pyc
create_db.pyc
world.pyc
npc.pyc
cmd.pyc
path.pyc
ymlr.pyc
index.html
LICENSE
params.json
README.md
javascripts
stylesheets
images
path.py
tools.pyc



#Icons
Botter_logo.ico

#Tools
_commandline.bat
